.NavBar{
    width: 90%;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2vh auto;

    z-index: 2;

    .searchBar{
        width: 30%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        svg{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 2.5em;
        }

        input{
            width: 80%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
 
            border: none;

            padding: 1em;

            &::placeholder {
                padding: 1em;
            }
        }
    }
    .Dark{
        background-color: #2B3743;

        svg{
            fill: white;
        }
        input{
            background-color: #2B3743;
            color: whitesmoke;

            &::placeholder{
                color: whitesmoke;
            }
        }
    }
    .Light{
        background-color: white;
        border: solid 1px #2B3743;

        svg{
            fill: #2B3743;
        }
        input{
            background-color: white;
            color: #2B3743;

            &::placeholder{
                color: #2B3743;
            }
        }
    }
    .DropDownDiv{
        width: 15%;
        height: 100%;

        z-index: 5;

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        button{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            margin-top: 2px;
            
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            span{
                width: 100%;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;

                padding: 0.75em 0;

                cursor: pointer;
            }
        }
    }
    .Dark{
        background-color: #2B3743;

        button{
            background-color: #2B3743;
            color: whitesmoke;
            border: none;
        }
        div{
            background-color: #2B3743;

            span{
                background-color: #2B3743;
                color: whitesmoke;
            }
        }
    }
    .Light{
        background-color: white;

        button{
            background-color: white;
            color: #2B3743;
            border: solid 1px #2B3743;
        }
        div{
            background-color: white;

            span{
                background-color: white;
                color: #2B3743;
            }
        }
    }
}