.CardText{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button{
        width: 20%;
        padding: 0.5em 0em;
    }

    h1{
        color : #BDFFB1;
        margin: 0;
    }
    p{
        margin: 0;
    }
}