.one{
    background-color: red;
}

.two{
    background-color: green;
}

.three{
    background-color: orange;
}

@media (min-width:320px) and (max-width:600px){
    .square{
        width: 99vw;
        height: 99vw;
    }
}

@media (min-width:600px) and (max-width:1024px){
    .square{
        width: 50vw;
        height: 50vw;
    }
}

@media (min-width:1024px){
    .square{
        width: 33vw;
        height: 33vw;
    }
}